[Desktop Entry]
Name=APPLICATION_NAME
Comment=APPLICATION_DESCRIPTION
Exec=APPLICATION_LAUNCHER
Icon=APPLICATION_ICON
Terminal=false
Type=Application
Categories=DEPLOY_BUNDLE_CATEGORY
StartupNotify=true
StartupWMClass=com-gestion-salles-Main
X-GNOME-WMClass=com-gestion-salles-Main
DESKTOP_MIMES
